{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" name="register">
        <input type="text" name="user[email]"/>
        <input type="text" name="user[fullName]"/>
        <input type="text" name="user[password]"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}"/>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}